html , body {
	height:100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#container {
	position:relative;
	width:320px;
	height:416px;
	background-color:#2c5b8f;
	background-image:-moz-linear-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0.15));
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(rgba(0,0,0,0.15)));
	left:50%;
	top:50%;
	margin-left:-160px;
	margin-top: -208px;
}

canvas{
    background: #ccc;
}

#progress{
    position: absolute;
    width: 280px;
    margin-left: 20px;
    bottom: 0;
    margin-bottom: 25px;
    height: 15px;
    border-radius: 5px;
    background-image:-moz-linear-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0.15));
    background-color:#fff;
}

#progress-bar{
    height: 15px;
    width: 50%;
    background-image:-moz-linear-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0.15));
    background-color:#999;
    margin-bottom: 15px;
    height: 15px;
    border-radius: 5px;    
}

#main-menu, #results {
	padding-top:78px;
}

#main-menu a,
#results a{
	display:block;
	width:260px;
	text-align:center;
	height:50px;
	line-height:50px;
	font-family:Slackey;
	color:#fff;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	font-size:24px;
	background-image:-moz-linear-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0.15));
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(rgba(0,0,0,0.15)));
	color:#fff;
	text-shadow:#000 0px 1px 0px;
	background-color:#162545;
	border-radius:8px;
}

#main-menu a.inactive {
	color:rgba(255,255,255,0.5);
}

#main-menu a:active {
	font-size:28px;
	background-color:#0f1a31;
	background-image:-moz-linear-gradient(rgba(0,0,0,0.15),rgba(255,255,255,0.15));
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.15)), to(rgba(255,255,255,0.15)));
}

#results h1 {
	font-family:Slackey;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:24px;
	padding-top:0px;
	color:#fff;
	text-shadow:#000 0px 1px 0px;
}

#results .score {
	font-family:Slackey;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:20px;
	padding-top:0px;
	color:#fff;
	text-shadow:#000 0px 1px 0px;
}

#results .score-detail {
	font-family:Slackey;
	text-align:center;
	line-height:40px;
	font-size:18px;
	padding-top:0px;
	color:#fff;
	text-shadow:#000 0px 1px 0px;
    margin-bottom: 10px;
}

#game .message {
	display: none;
	position: absolute;
	color: #fff;
	float: left;
	text-align: center;
	width:270px;
	height:24px;
	top:50%;	
	left:50%;
	margin-left: -135px;
	margin-top: -24px;
	background-image:-moz-linear-gradient(rgba(255,255,255,0.8),rgba(0,0,0,0.8));
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,0,0,1)), to(rgba(55,55,55,1)));
	border-radius:8px;
	padding: 10px 0;
	font-size: 25px;
	font-family:Slackey;
	-moz-transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
	z-index:10;
}

#container canvas {
	position:absolute;
	left:5px;
	top:40px;
	width:310px;
	height:310px;
}

#container #board {
	z-index:1;
}

#game a {
	position: absolute;
	top: 354px;
	height:30px;
	width:30px;
	border:2px solid #fff;
	border-radius:3px;
	margin:10px;
}

#game a.selected {
	margin:2px;
	height:48px;
	width:48px;
}
